<% provide(:title, @user.name) %>
<%= link_to "<- Mitspielerliste", users_path%>
<div><br><br></div>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nickname %>
	  <h2>
		<%= @user.name %>
      </h2>
	  </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
	<section>
	  <%= link_to "Einstellungen", edit_user_path(@user) if correct_user? %>
  </aside>
</div>