<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Erstellt vor <%= time_ago_in_words(feed_item.created_at) %>.
    </span>
  <% if current_user.is_admin? %>
    <%= link_to "löschen", feed_item, method:  :delete,
                                     confirm: "Soll die Nachricht wirklich gelöscht werden ?",
                                     title:   feed_item.content %>
  <% end %>
</li>